{% extends 'landingpage/base.html' %}
{% block content %}
{% load static %}

<div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <!-- <h2 class="title ml-1">Trending now</h2> -->
          {% for a in artikel %}
          <div class="card card-blog card-plain blog-horizontal">
            <div class="row">
              <div class="col-lg-4">
                <div class="card-image">
                  <a href="javascript:;">
                    <img class="img rounded" src="{{ a.gambar.url }}" />
                  </a>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="card-body">
                  <h3 class="card-title">
                    <a href="{% url 'detail_artikel' a.id %}">{{ a.judul }}</a>
                  </h3>
                  <p class="card-description">
                    {{ a.konten|truncatewords_html:50|safe }}
                  </p>
                  <div class="author">
                    <img src="{% static 'landingpage/assets/img/james.jpg'%}" alt="..." class="avatar img-raised">
                    <div class="text">
                      <span class="name">{{ a.author }}</span>
                      <div class="meta">Drawn on 23 Jan</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
    
        <div class="section blogs-4">
          <div class="container-fluid">
            <h1 class="title text-center">Kategori</h1>
            <br />
            <div class="row">
              {% for k in kategori %}
              <div class="col-lg-3">
                <div class="card card-blog card-background" data-animation="zooming">
                  {% if k.gambar %}
                  <div class="full-background" style="background-image: url('{{ k.gambar.url }}')"></div>
                  {% else %}
                  <div class="full-background" style="background-image: url('{% static "landingpage/assets/img/default.jpg"%}')"></div>
                  {% endif %}
                  <div class="card-body">
                    <div class="content-bottom">
                      <a href="javascript:;">
                        <h3 class="card-title">{{ k.nama }}</h3>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
{% comment %} 
        <div class="section blogs-4">
            <div class="container-fluid">
              <h1 class="title text-center">Kategori</h1>
              <br/>
              <div class="row">
                <div class="col-lg-3">
                  <div class="card card-blog card-background" data-animation="zooming">
                    <div class="full-background" style="background-image: url('static/landingpage/assets/img/viktor-forgacs.jpg')"></div>
                    <div class="card-body">
                      <div class="content-bottom">
                        <!-- <h6 class="card-category">{{ K.nama }}</h6> -->
                        <a href="javascript:;">
                          <h3 class="card-title">{{ kategori.0.nama }}</h3>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card card-blog card-background" data-animation="zooming">
                    <div class="full-background" style="background-image: url('static/landingpage/assets/img/rezaul-karim.jpg');"></div>
                    <div class="card-body">
                      <div class="content-bottom">
                        <!-- <h6 class="card-category">Save the World</h6> -->
                        <a href="javascript:;">
                          <h3 class="card-title">{{ kategori.1.nama }}</h3>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card card-blog card-background" data-animation="zooming">
                    <div class="full-background" style="background-image: url('static/landingpage/assets/img/pawel-nolbert.jpg')"></div>
                    <div class="card-body">
                      <div class="content-bottom">
                        <!-- <h6 class="card-category">Applications Companies</h6> -->
                        <a href="javascript:;">
                          <h3 class="card-title">{{ kategori.2.nama }}</h3>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card card-blog card-background" data-animation="zooming">
                    <div class="full-background" style="background-image: url('static/landingpage/assets/img/mark-finn.jpg')"></div>
                    <div class="card-body">
                      <div class="content-bottom">
                        <!-- <h6 class="card-category">RFID microchips</h6> -->
                        <a href="javascript:;">
                          <h3 class="card-title">{{ kategori.3.nama }}</h3>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> {% endcomment %}

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}
